/* Apply styles to text fields */
.text-field {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
    -fx-background-color: #ffffff;
    -fx-background-radius: 20;
    -fx-border-color: #000000;
    -fx-border-radius: 20;
}

.text-field:hover {
    -fx-background-color: #2ce5e8; /* Lighter color on hover */
}

/* Apply styles to buttons */
.button {
    -fx-background-color: #16d919;
    -fx-border-color: #000000;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-text-fill: #220b0b;
}

.button:hover {
    -fx-background-color: #da0dbc; /* Darker color on hover */
}

/* Apply styles to labels
.label {
    -fx-font-family: "System Bold";
    -fx-font-size: 30;
} */

/* Add more styles as needed */

/* Apply styles to other elements as needed */
#AnchorPane {
    -fx-background-color: #f8f4ec;
}

/* Add more styles if needed */
