/* style.css */

#AnchorPane {
    -fx-background-color: #f8f4ec; /* Background color for the entire AnchorPane */
}

.rectangle {
    -fx-fill: #d63484; /* Fill color for the rectangles */
    -fx-stroke: black; /* Stroke color for the rectangles */
    -fx-stroke-type: inside; /* Stroke type for the rectangles */
}
.text-field {
    -fx-prompt-text-fill: #808080; /* Prompt text color for text fields */
    -fx-background-color: #ffffff; /* Default background color for text fields */
    -fx-border-radius: 20; /* Rounded corners for text field borders */
    -fx-border-color: #d63484; /* Default border color for text fields */
    -fx-background-radius: 20;
}

.text-field:hover {
    -fx-background-color: #eaeaea; /* Background color for text fields on hover */
    -fx-border-color: #5c4450; /* Border color for text fields on hover */
}
#x1, #x2 {
    -fx-font-size: 25.0; /* Font size for labels */
}

#x1 {
    -fx-font-size: 35.0; /* Font size for the "Online Bank" label */
}

#x2 {
    -fx-font-size: 25.0; /* Font size for the "Current Pin" label */
}

#currPin, #newPin, #reEnterNewPin {
    -fx-background-radius: 20; /* Rounded corners for text fields */
    -fx-border-radius: 20; /* Rounded corners for text field borders */
    -fx-prompt-text-fill: #9c9c9c; /* Prompt text color for text fields */
    -fx-background-color: #ffffff; /* Background color for text fields */
    -fx-border-color: #d63484; /* Border color for text fields */
    -fx-border-width: 2; /* Border width for text fields */
    -fx-effect: innershadow(gaussian, #d63484, 10, 0, 0, 0); /* Inner shadow effect for text fields */
}

#currPin:hover, #newPin:hover, #reEnterNewPin:hover {
    -fx-background-color: #f2f2f2; /* Background color on text field hover */
}

#changePin, #back {
    -fx-background-radius: 20; /* Rounded corners for buttons */
    -fx-border-radius: 20; /* Rounded corners for button borders */
    -fx-background-color: #d63484; /* Default background color for buttons */
    -fx-border-color: black; /* Default border color for buttons */
}

#changePin:hover, #back:hover {
    -fx-background-color: #ff87b9; /* Darker color on button hover */
}

#x3 {
    -fx-font-size: 20.0; /* Font size for the "Change Pin" button */
    -fx-font-weight: bold; /* Bold font for the "Change Pin" button */
}
